@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@400;700&display=swap');
body {
  color: #494949;
  font-size: 18px;
  line-height: 1.6em;
  font-weight: lighter;
  font-family: 'Lora', serif;
  margin: 0px;
}
h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
a {
  text-decoration: none;
  background: linear-gradient(to rigth, white, gray);
}
a:hover{
  background: linear-gradient(to rigth, blue, white) 
}
.link-medium {
  background-image: linear-gradient(to bottom, rgba(233,253,240,1), rgba(233,253,240,1));
  color: #636363;
  font-size: 25px;
  font-style: italic;
}
.link-medium:hover {
  background-image: linear-gradient(to bottom, rgba(3,247,89,1), rgba(3, 247, 89,1));
  color: #636363;
  font-size: 25px;
  font-style: italic;
}
.container{
  max-width: 700px;
  margin: 50px auto;
}
.banner {
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  padding: 120px 0px;
}
.banner h1 {
  color: white;
  font-size: 32px;
  background-size: cover;
}
.banner p {
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  opacity: 0.8;
}
/* Media queries */
@media(max-width: 536px) {
  .container {
    width: 378px;
  }
}
@media(max-width: 768px) {
  .container {
    width: 563px;
  }
}
@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}
@media(max-width: 1200px) {
  .container {
    width: 700px;
  }
}